Source: libsynce
Section: libs
Priority: optional
Maintainer: Volker Christian <voc@users.sourceforge.net>
Uploaders: Volker Christian <voc@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.5.8

Package: libsynce0-dev
Section: libdevel
Architecture: any
Depends: libsynce0 (= ${Source-Version})
Description: A helper library for synce, a tool to sync WinCE devices
 This package contains the development files

Package: libsynce0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: A helper library for synce, a tool to sync WinCE devices
 This package contains the library itself.
