<?xml version="1.0" ?>
<syncengine-config>
	<Global>
		<!--
		    SlowSyncDisable, when set to 1, will bypass the slow sync
		    database and allow only normal syncing with the handheld. 
		    Useful only really for debugging - when using sync-engine
		    in anger this should always be set to 0
		    
		-->
		
		<SlowSyncDisable>0</SlowSyncDisable>
		
		<!-- 
		     AuthMethod can be one of the following:
		         INTERNAL_GUI uses internal GUI auth prog
			 INTERNAL_CLI uses internal console auth prog
			 [pathname_to_prog] uses external auth prog
			 
			 Note: INTERNAL_GUI uses GTK to display the box.
			 
			       INTERNAL_CLI uses the console and will work on systems
			       without GTK
			       
			       If this element is not specified, the default will be
			       INTERNAL_CLI
	        -->
		
		<AuthMethod>INTERNAL_GUI</AuthMethod>
		
		<!--
		    Subject to the following conditions, AppendDefaultTimezone set
		    to 1 will ensure that the default timezone specifier is always
		    exported to the host, if:
		
		    	- /etc/timezone exists
			- the device does not send a timezone specifier with the event
			
		    Setting it to zero disables this completely.
		    
		    NOT FULLY IMPLEMENTED YET
		-->
		
		<AppendDefaultTimezone>0</AppendDefaultTimezone>
		
		<!--
		    Specifies the type of format conversion to use on the data from
		    the handheld.
		    
		        - NONE performs no format conversion and exports the data
			  in AirSync/XML (Use this for debugging or with the
			  OpenSync AirSync format plugin only)
			
			- OS30 uses OpenSync 0.3x XML schemas. Set this if you are
			  using OpenSync 0.3x or later with opensync-plugin-0.30later.py
			  
			- OS20 (default) uses the pre-0.3x schemas. Set this if using a
			  version of OpenSync that is pre-0.3x. This mode is likely to
			  be deprecated and subsequently removed once OpenSync 0.3
			  formats go mainstream at which point OS30 will become the
			  default
			  
		-->
		
		<OpensyncXMLFormat>OS20</OpensyncXMLFormat>
		
		<!--
		    If set to 1 will automatically flush the item database and mapping
		    tables from memory between syncs. Otherwise will rely on a call 
		    from the plugin to do it.
		    
		    Default is enabled
		-->
		
		<FlushIDB>1</FlushIDB>
		
	</Global>
	<Autosync>
		<AutoSyncCommand>xterm -e msynctool --sync wm5sync</AutoSyncCommand>
		<Disable>1</Disable>
	</Autosync>
	<FileSync>
		<LocalFilePath>/nfshomes/jgow/PDAFiles</LocalFilePath>
		<Disable>0</Disable>
		<LocalUpdateFreq>10</LocalUpdateFreq>
		<ExtraDeleteDelay>0</ExtraDeleteDelay>
		<ObjectReportTimeout>8</ObjectReportTimeout>
	</FileSync>
</syncengine-config>
