[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KitchenSync/Konnector,KResources/Plugin
X-KDE-Library=libsyncedesktopkonnector

Name=SynCE-Desktop Konnector
Name[cs]=SynCE-Desktop konektor
Name[cy]=Kysylltydd SynCE-Desktop
Name[de]=SynCE-Desktop-Konnector
Name[es]=Konnector para SynCE-Desktop
Name[fi]=SynCE-Desktop-Konnector
Name[hi]=क्यूटोपिया कनेक्टर
Name[hu]=SynCE-Desktop-konnektor
Name[nso]=Mokgomaganyi wa SynCE-Desktop
Name[pl]=Łącznik SynCE-Desktop
Name[pt]=Konnector para o SynCE-Desktop
Name[ro]=Konnector SynCE-Desktop
Name[ru]=Коннектор к SynCE-Desktop
Name[sl]=Konektor SynCE-Desktop
Name[ta]=Qடோப்பியா இணைப்பான்
Name[xx]=xxSynCE-Desktop Konnectorxx
Group= PDA
Vendor = Holger 'zecke' Freyther
Id=LocalSynCE1.5

X-KDE-ResourceFamily=konnector
X-KDEE-ResourceType=pocketpc
X-KDE-ResourceType=SynCEDesktop
