Source: synce-dccm
Section: otherosfs
Priority: optional
Maintainer: Thomas Butter <thomas@i.rule-the.net>
Uploaders: Jonathan McDowell <noodles@earth.li>
Build-Depends: debhelper (>> 4.0.0), libsynce0-dev
Standards-Version: 3.5.8

Package: synce-dccm
Architecture: any
Depends: ${shlibs:Depends}
Description: Daemon to keep a connection to your WinCE device up
 Maintains a connection to a WinCE device, responding to keep alives and
 providing other members of the SynCE suite of tools with details of the
 IP address and providing the ability to autorun scripts upon connection.
