Source: synce-kde
Section: utils
Priority: optional
Maintainer: Volker Christian <voc@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.5.8

Package: synce-kde-dev
Section: devel
Architecture: any
Depends: synce-kde (= ${Source-Version})
Description: SynCE-KDE is part of the SynCE project:
 http://synce.sourceforge.net/
 This Package is a KDE-Integration of SynCE. It consists of a kio_slave
 (RAPIP), a KDE System-Tray Application (RAKI) and an enhanced direct cable
 connection manager (VDCCM).
 RAPIP: Lets you transparently interact with your PockePC via konqueror.
 RAKI:  Is a Linux-Incarnation of Activsync. It claims to be better than
 Activesync in future.

Package: synce-kde
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: SynCE-KDE is part of the SynCE project:
 http://synce.sourceforge.net/
 This Package is a KDE-Integration of SynCE. It consists of a kio_slave
 (RAPIP), a KDE System-Tray Application (RAKI) and an enhanced direct cable
 connection manager (VDCCM).
 RAPIP: Lets you transparently interact with your PockePC via konqueror.
 RAKI:  Is a Linux-Incarnation of Activsync. It claims to be better than
 Activesync in future.
