[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=ICAL Synchronizer
Comment=Appointment Synchronizer
ServiceTypes=Raki/Synchronizer
X-KDE-Library=librakiicalsync
X-Raki-Synchronizer=Appointment
