[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KitchenSync/Konnector,KResources/Plugin
X-KDE-Library=libsyncedevicekonnector

Name=SynCE Konnector
Name[cs]=SynCE konektor
Name[cy]=Kysylltydd SynCE
Name[de]=SynCE-Konnector
Name[es]=Konnector para SynCE
Name[fi]=SynCE-Konnector
Name[hi]=क्यूटोपिया कनेक्टर
Name[hu]=SynCE-konnektor
Name[nso]=Mokgomaganyi wa SynCE
Name[pl]=Łącznik SynCE
Name[pt]=Konnector para o SynCE
Name[ro]=Konnector SynCE
Name[ru]=Коннектор к SynCE
Name[sl]=Konektor SynCE
Name[ta]=Qடோப்பியா இணைப்பான்
Name[xx]=xxSynCE Konnectorxx
Group= PDA
Vendor = Holger 'zecke' Freyther
Id=SynCE1.5

X-KDE-ResourceFamily=konnector
X-KDEE-ResourceType=pocketpc
X-KDE-ResourceType=SynCEDevice
