[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=foobar
Comment=AvantGo Synchronizer
Icon=
Name=AvantGo Synchronizer
ServiceTypes=Raki/Synchronizer
X-KDE-Library=rakiagsync
X-Raki-Synchronizer=AvantGo Connect
